*{
  margin: 0;
  padding:0;
  font-family:Century Gothic;
}

.wrapper
{
  background: url(read.jpg) no-repeat;
  background-size:cover;
  height:100vh;
}

.navbar
{
  height:105px;
  width:100%;
  background:rgba(0,0,0,0.5);
}

.logo
{
  width:140px;
  height:auto;
  padding:28px 80px;
}

.navbar ul
{
  float:right;
  margin-right:120px;
}

.navbar ul li
{
  list-style:none;
  margin:0 -2px;
  display:inline-block;
  line-height:105px;
}

.navbar ul li a
{
  text-decoration:none;
  color:white;
  font-size:22px;
  padding:15px 35px;
  font-family:Century Gothic;
  transition:0.8s;
  overflow:hidden;
}

.navbar ul li a:hover
{
  color:white;
  font-size:30px;
  background:rgba(0,255,50,0.5);
  box-shadow:0 0 10px #66ff66, 0 0 40px #66ff66, 0 0 10px #66ff66;
  transition:1s;
}

.text h1
{
  text-align:center;
  color:white;
  font-size:80px;
  font-family:bold arial;
  position:absolute;
  top:35%;
  padding-left:20px;
  padding-right:20px;
  margin-left:36%;
}

.text p
{
  text-align:center;
  color:white;
  font-family:bold arial;
  top:52%;
  position:absolute;
  padding-left:10px;
  padding-right:10px;
  margin-left:32%;
  font-size:80px;
  background-color:rgba(0,0,0,0.7);
}

.text h2
{
  text-align:center;
  color:rgb(40,255,120);
  font-family:sans-serif;
  top:25%;
  position:absolute;
  padding-left:20px;
  padding-right:20px;
  margin-left:40%;
  font-size:50px;
  background-color:rgba(0,0,0,0.5);
}
